*{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color:#6e3bb1;
}

body{
  background-color: #E6E6FA;
}
header{
  background-color: #7C51B4;
}

header div .container{
  background-color: #800080;
  border: 1px solid #800080;
  border-radius: 10px;
}
.titleH{
  color:white;
  font-size:60px;
  font-weight: bold;
}
nav div a{
  background-color :#7C51B4;
  font-size: 25px;
  min-width: 50px;
  font-weight: bold;
  color: white;
  border: 2px solid #800080;
}
nav div a:hover{
  color:#e4d9f3;
  background-color:#cebfe0;
}

.img{
  width: 500px;
  height: 300px;
  border-radius: 20px;
} 
.mainBorder{
  border: 1px solid #800080;
  border-radius: 10px;
  background-color:#cebfe0;
}


main a {
  color:#800080;
}

main a:hover {
  color:#6e3bb1;
  font-weight: bold;
  text-decoration: none;
}

li {
  font-size: 20px;
}

li:hover {

  font-weight: bolder;
}
.titleM{
  color:#6e3bb1;
  font-family: 'Times New Roman', Times, serif;
  font-size: 45px;
  font-weight: bold;
}
table {
  color: #ffffff;
  border-collapse: collapse;
  text-align: center;
  background-color: #7C51B4;
}
th {
  border: 3px solid #572e8b;
 
}
td {
  border: 3px solid #572e8b;
;
}
tr:nth-child(2n) {    
   background-color: #a08eb9 ;
}
form {
 font-size: 25px;
 color:#572e8b;
 font-weight: bold;
 }
footer{
   background-color: #800080;
}
footer h1{
  font-size:30px;
  font-weight: bold;
}
@media screen and (max-device-width:758px){
  header div .container{
    border-radius: 0px;
  }
  .titleH{
    font-size: 30px;
  }
   #logo{
    width: 100px;
    height: 100px;
  } 
  nav div a{
    background-color :#7C51B4;
    font-size: 15px;
  }
  nav{
    background-color :#7C51B4;
    border: 2px solid #800080;
  }
  nav div a{
  
    border: 0px solid #800080;
  }
  .img{
    width: 200px;
    height: 200px;
  }
  .mainBorder{
    border: 1px solid #800080;
    border-radius: 0px;
  }
  .titleM{
    font-size: 25px;
  }
  li {
    font-size: 12px;
  }
  form {
    font-size: 12px;
  }
  footer h1{
    font-size: 15px;
  }
}


